.bodyIndex,
.bodyRules {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-bottom: 0;
  font-size: 45px;
}

.pInfo {
  text-align: center;
  width: 95%;
  padding-bottom: 20px;
}

.mainIndex,
.mainRules {
  max-width: 70vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.buttonRules,
.buttonIndex {
  background-color: #1fcca4;
  padding: 15px;
  flex-grow: 1;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #283e50;
}

.buttonRules,
.buttonIndex {
  background-color: #1fcca4;
}

.buttonRules:hover,
.buttonIndex:hover {
  background-color: #1cbb96;
}

.buttonGame {
  background-color: #0197f6;
  padding: 15px;
  flex-grow: 1;
  text-decoration: none;
  color: #ffffff;
}

.buttonGame:hover {
  background-color: #0090e9;
}

.pictureOpening {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: smaller;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

section {
  width: 90%;
}

.gallery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  display: flex;
  flex-direction: column;
}

figure img {
  width: 100%;
}

figure figcaption {
  flex-grow: 1;
}

@media screen and (min-width: 800px) {
  figure {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 35%;
  }

  .mainRules {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  figure {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 35%;
  }
  .mainRules {
    width: 40%;
  }
}

.bodyGame {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainGame {
  display: flex;
  flex-direction: column;
}

.headingGame {
  max-width: 80vmin;
  width: 100%;
  margin-top: 0;
}

.navGame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.buttonsGame {
  display: flex;
  flex-direction: row;
}

.buttonHome {
  background-color: #1fcca4;
  border-radius: 5px;
  padding: 7px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonHome:hover {
  background-color: #1cbb96;
}

.buttonRestart {
  background-color: #0197f6;
  border-radius: 5px;
  padding: 7px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonRestart:hover {
  background-color: #0090e9;
}

.pGame {
  margin: 0;
  padding: 0;
}

.pGame img {
  filter: invert(100%);
}

.gameGrid {
  max-width: 80vmin;
  max-height: 80vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameGrid button {
  width: 8vmin;
  height: 8vmin;
  border: 1px solid #283e50;
  background-color: rgba(236, 228, 228, 0.219);
}

.gameGrid button:hover {
  background-color: rgba(247, 214, 214, 0.527);
}

.gameGrid button:focus {
  background-color: rgba(247, 214, 214, 0.527);
}

.imgGameCross {
  background-image: url(images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

.imgGameCircle {
  background-image: url(images/circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

p img {
  vertical-align: text-bottom;
}
